.disabled input{
	background-color:rgba(192,192,192,0.3);
	pointer-events: none;
}

.disabled select{
	background-color:rgba(192,192,192,0.3);
	pointer-events: none;
}

.disabled button{
	background-color:rgba(192,192,192,0.3);
	pointer-events: none;
	color: black;
}